<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Chat Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link rel="stylesheet" href="css/settingscss/settingsmenu.css">
    <script src="js/main.js" defer></script>
    <script src="js/settingsjs/settingsmenu.js" defer></script>
    <style>
        
    </style>
</head>


<body class="sidebar-opened">
    
       
        
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div id="history-sidebar">
                    <h5>Chat History</h5>
                    <button class="close-sidebar-btn btn btn-primary" id="cross" style="background-color: white; border: 1px solid #ccc; width: 100%; text-align: left; padding: 10px; margin-bottom: 5px;border-radius: 0;">
                        <img src="/static/img/cross-removebg-preview.png" alt="Close Sidebar" style="width: 18px; height: 18px; float: right;">
                    </button>
                    <button class="btn btn-primary mt-3" id="clear-history-btn" style="background-color: white; border: 1px solid #ccc; width: 100%; text-align: left; padding: 10px; margin-bottom: 5px;border-radius: 0;">
                        <img src="/static/img/chat-removebg-preview.png" alt="Clear History" style="width:25px; height: 25px; margin-right: 10px;">
                        New Chat
                    </button>
                    <button class="btn btn-primary mt-3" onclick="window.location.href='history.html'" style="background-color: white; border: 1px solid #ccc; width: 100%; text-align: left; padding: 10px; margin-bottom: 5px; display: flex; align-items: center ;border-radius: 0;">
                        <img src="/static/img/library.png" alt="" style="width:25px; height: 25px; margin-right: 10px;">
                        <a href="{{ url_for('history') }}" style="color: #000; text-decoration: none;">Library</a>
                    </button>
                    
                    
                    
                    
                    
                    
                    <button class="btn btn-primary mt-3" onclick="upgrade()" style="background-color: white; border: 1px solid #ccc; width: 100%; text-align: left; padding: 10px; margin-bottom: 5px; display: flex; align-items: center;border-radius: 0;">
                        <img src="/static/img/help.png" alt="" style="width:28px; height: 30px; margin-right: 10px;">
                        <a href="{{ url_for('support') }}" style="color: #000; text-decoration: none;">Help</a>
                    </button>
                    
                    
                    
                    <button class="btn btn-primary mt-3" onclick="upgrade()" style="background-color: white; border: 1px solid #ccc; width: 100%; text-align: left; padding: 10px; margin-bottom: 5px; display: flex; align-items: center;border-radius: 0;">
                        <img src="/static/img/images__2_-removebg-preview.png" alt="" style="width:25px; height: 25px; margin-right: 10px;">
                        <a href="{{ url_for('logout') }}" style="color: #000; text-decoration: none;">Logout</a>
                    </button>
                    
                    
                </div>
                  
            </div>




            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="chat-container">
                    <div id="chat-messages"></div>
                    <div id="loading-animation" style="display: none;">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    
                </div>
                <div id="fixed-question-container">
                    <form id="chat-form" class="mb-3">
                        <div class="input-group">
                            <input type="text" id="user-input" class="form-control" placeholder="Ask or search..." >
                            <div id="button-container">
                                <button type="button" id="voice-command-button" class="btn btn-primary" style="background-color: transparent; ">
                                    <img src="/static/img/voice-removebg-preview final.png" alt="voice-command-button" style="width: 18px; height: 25px; margin-right: 5px;">
                                  </button>
                                  
                                <button type="submit" id="send-button" class="btn btn-primary" style="display: none;background-color: transparent;">
                                    <img src="/static/img/up.png" alt="voice-command-button" style="width: 38px; height: 30px; margin-right: 0px;">
                                </button>
                            </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button id="open-sidebar-btn" class="btn btn-primary1"style="padding: 3px;"><img src="/static/img/icon-removebg-preview (1).png" alt="open sidebar " style="height: 40px; width: 40px;">
        
    </button>    
    <div class="footer-buttons">
        <button id="close-sidebar-btn" class="btn btn-primary" style="display: none;"><img src="/static/img/cross.png" alt="Close Sidebar"></button>
    </div>

    <div class="main-container">
        
    </main>
    <div class="profile-section">
        <div class="profile-header">
            <div class="user-profile">
                <img src="/static/img/notification.png" alt="Notification" class="notification-icon">
                <div class="profile-dropdown">
                    <img src="/static/img/usericon.png" alt="User" class="user-icon" id="profile-button">
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="#" id="settings-link"><i class="fas fa-cog"></i> Settings</a>
                        <a href="#"><i class="fas fa-arrow-up"></i> Upgrade</a>
                        <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content">
            
        </div>
    </div>
    
    <div id="settings-popup" class="settings-popup" style="display: none;">
        <div class="settings-content">
            <span class="close-button" id="close-button">&times;</span>
            <div class="settings-sidebar">
                <a href="#" class="settings-tab active" id="general-tab" data-section="general-section"><i class="fas fa-cog"></i> General</a>
                <a href="#" class="settings-tab" id="subscription-tab" data-section="subscription-section"><i class="fas fa-user-cog"></i> Subscription</a>
                <a href="#" class="settings-tab" id="speech-tab" data-section="speech-section"><i class="fas fa-microphone-alt"></i> Speech</a>
                <a href="#" class="settings-tab" id="profile-tab" data-section="profile-section"><i class="fas fa-id-card-alt"></i> Profile</a>
                <a href="#" class="settings-tab" id="connected-apps-tab" data-section="connected-apps-section"><i class="fas fa-link"></i> Connected Apps</a>
                <a href="#" class="settings-tab" id="help-tab" data-section="help-section"><i class="fas fa-question-circle"></i> Help</a>
            </div>
            <div class="settings-main">
                <div class="settings-section active" id="general-section">
                    <h3>General</h3>
                    <p>Theme: <select><option>System</option><option>Light</option><option>Dark</option></select></p>
                    <p><label><input type="checkbox"> Always show code when using data analyst</label></p>
                    <p class="language-dropdown">
                        Language:
                        <select id="language-select" onchange="saveLanguagePreference()">
                            <option value="auto">Auto-detect</option>
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                        </select>
                    </p>
                </div>
                <div class="settings-section" id="personalization-section" style="display: none;">
                    <h3>Personalization</h3>
                </div>
                <div class="settings-section" id="speech-section" style="display: none;">
                    <h3>Speech</h3>
                    <p>Voice:
                      <select>
                        <option>Juniper</option>
                        <option>Cove</option>
                        <option>Ember</option>
                        <option>Breeze</option>
                      </select>
                    </p>
                </div>
                <div class="settings-section" id="profile-section" style="display: none;">
                    <h3>Profile</h3>
                    <div id="profile-info">
                        <p>Name: <input type="text" value="{{ user.first_name }} {{ user.last_name }}"></p>
                        <p>Email: <input type="email" value="{{ user.email }}" readonly></p>
                        <button id="change-email-button">Change Email</button>
                        <br>
                        <button id="change-password-button">Change Password</button>
                        <p><button onclick="logoutAllDevices()">Log out of all devices</button></p>
                    </div>
                    <form id="change-email-form" action="{{ url_for('change_email') }}" method="POST" style="display: none;">
                        <p>Old Email: <input type="email" value="{{ user.email }}" readonly></p>
                        <p>New Email: <input type="email" name="new_email" required></p>
                        <p><button type="submit">Update Email</button></p>
                        <button type="button" class="back-button">←</button>
                    </form>
                    <form id="change-password-form" action="{{ url_for('change_password') }}" method="POST" style="display: none;">
                        <p>Old Password: <input type="password" name="old_password" required></p>
                        <p>New Password: <input type="password" name="new_password" required></p>
                        <p>Confirm Password: <input type="password" name="confirm_password" required></p>
                        <p><button type="submit">Update Password</button></p>
                        <button type="button" class="back-button">←</button>
                    </form>
                </div>
                
                
                <div class="settings-section" id="connected-apps-section" style="display: none;">
                    <h3>Connected Apps</h3>
                    <p>Google Drive: <button class="button-connect">Connect</button></p>
                    <p>Microsoft OneDrive (personal): <button class="button-connect">Connect</button></p>
                    <p>Microsoft OneDrive (work/school): <button class="button-connect">Connect</button></p>
                </div>
                <div class="settings-section" id="subscription-section" style="display: none;">
                    <h3>Subscription</h3>
                    <p>Subscribe to our plan:</p>
                    <form id="subscription-form">
                        <label>
                            <input type="radio" name="plan" value="only-plan" checked> Our Only Plan
                        </label>
                        <br>
                        <button type="button" id="subscribe-button">Subscribe</button>
                    </form>
                </div>
                
                <div class="settings-section" id="help-section" style="display: none;">
                    <h3>Help</h3>
                    <div id="help-content">
                        <p><a href="#" class="help-item" id="contact-us-link">Contact Us</a></p>
                        <p><a href="#" class="help-item" id="faq-link">FAQ</a></p>
                        <p><a href="{{ url_for('privacy') }}" class="help-item">Privacy Policy</a></p>
                        <p><a href="{{ url_for('terms') }}" class="help-item">Terms and Conditions</a></p>
                        <p><a href="settingshtml/feature-requests.html" class="help-item">Feature Requests</a></p>
                    </div>
                    <div id="contact-us-form" style="display: none;">
                        <form id="contact-form">
                            <p>
                                <label for="email"><i></i> Email</label><br>
                                <input type="text" id="email" name="email" class="form-input">
                            </p>
                            <p>
                                <label for="subject"><i></i> Subject</label><br>
                                <input type="text" id="subject" name="subject" class="form-input">
                            </p>
                            <p>
                                <label for="message"><i></i> What do you need help with?</label><br>
                                <textarea id="message" name="message" class="form-textarea"></textarea>
                            </p>
                            <p>
                                <label for="attachments" style="cursor: pointer;">
                                    <img src="/static/img/attach.png" alt="Attachments Icon" style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;"> 
                                </label><br>
                                <input type="file" id="attachments" name="attachments" class="" accept=".jpg,.jpeg,.png,.pdf" multiple style="display: none;">
                            </p>
                            <div id="file-list"></div>
                            
                            <p>
                                <button type="submit" class="form-button"><i class="fas fa-arrow-right"></i></button>
                            </p>
                        </form>
                    </div>
                    <div id="faq-content" style="display: none;">
                        <h4>Frequently Asked Questions</h4>
                        <div class="faq-item">
                            <p class="faq-question">What features are included in the subscription plan?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">Our subscription plan includes unlimited messaging, access to premium chat features, priority customer support, and more.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">How do I sign up for a subscription?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">To sign up for a subscription, click on the "Subscribe" button on our homepage and follow the prompts to enter your payment information and create an account.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">What payment methods do you accept?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">We accept major credit cards such as Visa, MasterCard, American Express, and PayPal.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">Can I try the service before subscribing?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">Yes, we offer a 7-day free trial for new users to explore our features before committing to a subscription.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">How do I cancel my subscription?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">To cancel your subscription, go to your account settings and click on the "Cancel Subscription" button. You will continue to have access until the end of your current billing cycle.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">What happens if my payment fails?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">If your payment fails, you will receive an email notification, and your account will be placed on hold until the payment issue is resolved. You can update your payment information in your account settings.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">Do you offer refunds?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">We do not offer refunds for subscription fees. However, if you encounter any issues, please contact our support team, and we will do our best to assist you.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">Is my data secure?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">Yes, we use industry-standard security measures to protect your data. All communications are encrypted, and we do not share your information with third parties.
                            </p>
                        </div>
                        <div class="faq-item">
                            <p class="faq-question">How do I contact customer support?
                                <span class="dropdown-sign"><i class="fas fa-arrow-down"></i></span>
                            </p>
                            <p class="faq-answer" style="display: none; background-color: white;">You can contact our customer support team by clicking on the "Help" button in the app or by sending an email to via the contact us page under help. Our team is available 24/7 to assist you
                            </p>
                        </div>
                        <p><a href="#" id="back-to-help-from-faq" class="back-link"><i class="fas fa-arrow-left"></i></a></p>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('change-email-button').addEventListener('click', function() {
                document.getElementById('profile-info').style.display = 'none';
                document.getElementById('change-password-form').style.display = 'none';
                document.getElementById('change-email-form').style.display = 'block';
            });

            document.getElementById('change-password-button').addEventListener('click', function() {
                document.getElementById('profile-info').style.display = 'none';
                document.getElementById('change-email-form').style.display = 'none';
                document.getElementById('change-password-form').style.display = 'block';
            });

            document.querySelectorAll('.back-button').forEach(button => {
                button.addEventListener('click', function() {
                    document.getElementById('profile-info').style.display = 'block';
                    document.getElementById('change-email-form').style.display = 'none';
                    document.getElementById('change-password-form').style.display = 'none';
                });
            });
        });

        function logoutAllDevices() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/logout';
                } else {
                    console.error('Failed to log out of all devices');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('faq-link').addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('faq-content').style.display = 'block';
                document.getElementById('help-content').style.display = 'none';
            });

            document.getElementById('back-to-help-from-faq').addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('faq-content').style.display = 'none';
                document.getElementById('help-content').style.display = 'block';
            });

            document.querySelectorAll('.faq-question').forEach(question => {
                question.addEventListener('click', function() {
                    const answer = this.nextElementSibling;
                    const icon = this.querySelector('.dropdown-sign i');
                    if (answer.style.display === 'none' || answer.style.display === '') {
                        answer.style.display = 'block';
                        icon.classList.remove('fa-arrow-down');
                        icon.classList.add('fa-arrow-up');
                    } else {
                        answer.style.display = 'none';
                        icon.classList.remove('fa-arrow-up');
                        icon.classList.add('fa-arrow-down');
                    }
                });
            });
        });
</script>
</body>
</html>